@import-normalize;
@import "./_vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2f3847;
}

ul {
  list-style: none;
}

.App {
  position: relative;
  font-family: $fontMontserrat;
  color: $wht;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .App {
    font-size: 16px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .App {
    font-size: 14px;
    line-height: 14px;
  }
}
